# Godot 4+ specific ignores
.godot/
*.import
/android/

# "Open" Microsoft Office files
~*.docx

# Draw.io backup files
*.bkp

# Visual Studio generated Binaryies
.vs/

# Austin's Folders he wants ignored
src/Austin/assets/gimp
